$heroBanner-padding: 4rem;

.heroBanner {
  padding: $heroBanner-padding 0;
  text-align: center;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 996px) {
    padding: $heroBanner-padding / 2;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
